@import "./../variables.less";

@bgColour: @colour-main;
@bgColour2: darken(@colour-main, 30%);

.jumbo {
    width: 100%;
    min-height: 100px;

    background: @bgColour;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    
    &.half {
        height: 50vh;
    }

    &.third {
        height: 33vh;
    }

    &.twothirds {
        height: 66vh;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .jumbo-center {
        min-height: 10px;
    }
}